/* Write your CSS here */
@media screen and (max-width: 576px) {
  .bg-container {
    background-color: #07080c;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: roboto;
    font-size: 20px;
    color: white;
  }

  .image {
    height: 100px;
  }

  .button-container {
    padding: 5px;
  }
  .button-blue {
    background-color: #0b69ff;
    color: aliceblue;
    padding: 10px;
    border: solid 0px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 10px;
  }
  .button-normal {
    background-color: #07080c;
    color: white;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 2200px) {
  .bg-container {
    background-color: #07080c;
    height: 100vh;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading {
    font-family: roboto;
    font-size: 20px;
    color: white;
  }

  .image {
    height: 50%;
  }

  .button-container {
    padding: 5px;
  }
  .button-blue {
    background-color: #0b69ff;
    color: aliceblue;
    padding: 10px;
    border: solid 0px;
    border-radius: 7px;
    cursor: pointer;
    margin-right: 10px;
  }
  .button-normal {
    background-color: #07080c;
    color: white;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 10px;
  }
}
